body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* -----------------HEADER------------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  display: block;
  padding: 16px 0;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.nav-list,
.add {
  display: none;
}

.header-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
.header-icon {
  display: block;
  fill: #2f2f37;
}
.mobile-menu-backdrop {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  width: 320px;
  height: 100%;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mobile-menu-btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 233, 252, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.nav-mobile {
  margin-bottom: auto;
}
.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current,
.add-link.current {
  color: #404bbf;
}
.add-mobile {
  margin-bottom: 48px;
}
.add-list-mobile {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}
.add-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.add-link:hover,
.add-link:focus {
  color: #404bbf;
}
@media screen and (max-width: 767px) {
  .soc-icon-list-mobile {
    display: flex;
    width: 100%;
    gap: 40px;
    margin-bottom: 0;
  }
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu-backdrop {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .nav-header {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    flex-basis: 261px;
    align-items: center;
  }
  .nav-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .add {
    display: block;
    font-style: normal;
  }
  .add-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
    align-items: center;
  }
  .add-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .add-link:hover,
  .add-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .add-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
    flex-basis: 344px;
  }
  .add-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* -----------------TITLE------------------- */
.section-hello {
  background-color: #2e2f42;
  padding: 72px 52px;
  max-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-foto/Dark-bg-min.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .section-hello {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-foto/Dark-bg@2x-min.jpg);
  }
}
.section-hello .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 72px;
}
.page-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-btn:hover,
.page-btn:focus {
  background: #404bbf;
}
@media screen and (min-width: 768px) {
  .section-hello {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-foto/Dark-bg-min-1.jpg);
  }
  .page-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hello {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-foto/Dark-bg@2x-min-1.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .section-hello {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-foto/people-office-min.jpg);
  }
  .page-title {
    margin-bottom: 48px;
  }
}
@media (min-width: 1158px) and (min-resolution: 2dppx) {
  .section-hello {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-foto/people-office@2x-min.jpg);
  }
}
/* -----------------SECTION-PRINCIPLES------------------- */
.page-principles {
  padding-top: 96px;
  padding-bottom: 96px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.principles-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-icon {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  width: 100%;
  height: 112px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  display: none;
}
.name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .principles-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .principles-item {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
  .principles-item .name {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .principles-list {
    gap: 24px;
  }

  .principles-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .container-icon {
    display: flex;
  }
  .name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .text {
    font-weight: 400;
  }
}
/* -----------------TEAM------------------- */
.page-team {
  background-color: #f4f4fd;
  padding: 96px 0px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 264px;
}
.team-item:last-child {
  margin-bottom: 0;
}
.team-name {
  padding: 32px 0px;
  text-align: center;
  max-width: 232px;
  justify-items: center;
  margin: 0 auto;
}
.team-name .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-name .text {
  margin-bottom: 8px;
  font-weight: 400;
}
.soc-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  width: 100%;
}
.soc-icon-linc {
  display: flex;
  border-radius: 50%;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon-linc:hover,
.soc-icon-linc:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .team-item {
    margin: 0;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    flex-direction: row;
    gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* -----------------PORTFOLIO------------------- */
.page-portfolio {
  padding: 96px 0px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0%);
}
.portfolio-name .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}
.portfolio-name .text {
  font-weight: 400;
}
.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.tumba {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .page-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-list {
    gap: 48px 24px;
  }
}
/* -----------------FOOTER------------------- */
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.footer-logo {
  margin-bottom: 16px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  color: #f4f4fd;
  max-width: 288px;
}
.footer-soc {
  width: 208px;
  margin-bottom: 72px;
}
.footer-p {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.footer-soc .soc-icon-list {
  width: 100%;
  gap: 16px;
}
.footer-soc .soc-icon-linc:hover,
.footer-soc .soc-icon-linc:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  width: 288px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  margin-bottom: 16px;
  padding-left: 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-btn {
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  position: relative;
  min-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-icon {
  fill: #fff;
  margin-left: 16px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .page-footer .container {
    padding-left: 108px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: flex-start;
  }
  .footer-part1 {
    align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-p {
    margin-top: 0;
    text-align: left;
  }
  .footer-subscribe {
    width: 453px;
  }
  .form-subscribe {
    display: flex;
  }
  .footer-text {
    margin-bottom: 0;
    max-width: 264px;
  }
  .footer-soc {
    margin-bottom: 0;
  }
  .footer-soc .soc-icon-list {
    margin-bottom: 0;
  }
  .footer-input {
    margin-bottom: 0;
    margin-right: 24px;
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-footer .container {
    flex-wrap: nowrap;
    align-items: baseline;
    padding-left: 15px;
    gap: 0;
  }
  .footer-part1 {
    margin-right: 120px;
  }
  .footer-subscribe {
    margin-left: auto;
  }
}
/* -----------------BACKDROP------------------- */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-window {
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
}
.modal-window-btncl {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-btncl:hover,
.modal-window-btncl:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.x-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-p {
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;

  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus-within {
  border-color: #4d5ae5;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-part {
  margin-bottom: 8px;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus-within + .form-icon {
  fill: #4d5ae5;
}
.form-icon:focus-within {
  color: #4d5ae5;
}
.form-input-icon {
  position: relative;
}
.form-comment {
  margin-bottom: 16px;
}
.form-area {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-label-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.checkbox-input:checked + .form-label .checkbox-span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.form-label {
  display: flex;
  align-items: center;
}
.checkbox-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox .form-label {
  align-items: center;
  margin-bottom: 0;
}
.form-checkbox {
  margin-bottom: 24px;
}

.form-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    height: 584px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
