* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  /* width: 100%; */
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.section:not(:first-child) {
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.title-section {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.subtitle-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section:not(:first-child) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/*--------------HEDER----------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation .logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-menu-btn {
  border: none;
  background-color: transparent;
}

.header-menu-btn-icon {
  fill: #2f2f37;
}

.header-navigation-list {
  display: none;
}

.header-address {
  display: none;
}

.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  background-color: #fff;
  padding: 72px 24px 40px 16px;
}

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
}

.menu-close-btn-icon {
  fill: #2e2f42;
}

.menu-navigation {
  flex-grow: 1;
}

.menu-list {
}

.menu-item {
}

.menu-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-item-link:active {
  color: #404bbf;
}

.menu-item:not(:last-of-type) {
  margin-bottom: 40px;
}

.menu-address {
  margin-bottom: 48px;
}

.menu-address-list {
  font-style: normal;
}

.menu-address-item {
}

.menu-address-item:not(:last-of-type) {
  margin-bottom: 24px;
}

.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-address-link:active {
  color: #4d5ae5;
}

.menu-soc-list {
  display: flex;
  gap: 40px;
  max-width: 320px;
}

.menu-soc-item {
  flex-basis: calc((100% - 120px) / 4);
}

.menu-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.menu-soc-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-navigation .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }

  .header-navigation-list {
    display: flex;
    gap: 40px;
  }

  .header-navigation-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-active-page {
    position: relative;
    color: #404bbf;
  }

  .header-active-page::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .header-navigation-link:hover,
  .header-navigation-link:focus,
  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }

  .header-address {
    display: block;
    font-style: normal;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-navigation .logo {
    margin-right: 76px;
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/*--------------HEDER----------------*/
/*--------------HERO----------------*/

.hero {
  max-width: 320px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-btn {
  background: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  line-height: 1.5;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/*--------------HERO----------------*/
/*--------------BENEFITS----------------*/

.benefits {
}

.benefits-title {
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-item {
}

.benefits-icon-box {
  display: none;
}

.benefits-icon {
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 48px) / 2);
  }

  .benefits-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;

    margin-bottom: 8px;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-text {
    font-weight: 400;
  }
}

/*--------------BENEFITS----------------*/
/*--------------TEAM----------------*/

.team {
  background: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-item {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-of-type) {
  margin-bottom: 72px;
}

.team-image {
}

.team-content-box {
  padding: 32px 0;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-soc-item {
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-item {
    flex-basis: calc((100% - 48px) / 2);
  }

  .team-item:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/*--------------TEAM----------------*/
/*--------------PORTFOLIO----------------*/

.portfolio {
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image-box {
  position: relative;
  overflow: hidden;
}

.portfolio-hidden-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-box {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-text {
}

.portfolio-item:hover,
.portfolio-item:hover .portfolio-hidden-text {
  transform: translateY(0);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    box-shadow: none;
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*--------------PORTFOLIO----------------*/
/*--------------FOOTER----------------*/

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-text-box {
}

.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-soc-box {
  margin: 0 auto;
}

.footer-soc-text {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subscription {
}

.footer-subscription-text {
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-form {
}

.footer-label {
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.3;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  padding: 8px 24px 8px 24px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-container {
    gap: 72px 24px;
    width: 528px;
  }

  .footer-logo,
  .footer-subscription-text,
  .footer-soc-text {
    text-align: left;
  }

  .footer-soc-box {
    margin: 0;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    margin-bottom: 0;
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    width: 1158px;
  }

  .footer-text-box {
    margin-right: 120px;
  }

  .footer-subscription {
    margin-left: auto;
  }

  .footer-input {
    opacity: 1;
  }

  .footer-input::placeholder {
    opacity: 1;
  }
}

/*--------------FOOTER----------------*/

/* ------------------------ */

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-box {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  padding: 11px 11px 11px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:focus + .modal-input-icon {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  min-height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-input-checkbox {
  visibility: hidden;
}

.modal-label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .modal-label-checkbox .modal-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  /* width: 100%; */
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.section:not(:first-child) {
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.title-section {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.subtitle-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section:not(:first-child) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/*--------------HEDER----------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation .logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-menu-btn {
  border: none;
  background-color: transparent;
}

.header-menu-btn-icon {
  fill: #2f2f37;
}

.header-navigation-list {
  display: none;
}

.header-address {
  display: none;
}

.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  background-color: #fff;
  padding: 72px 24px 40px 16px;
}

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
}

.menu-close-btn-icon {
  fill: #2e2f42;
}

.menu-navigation {
  flex-grow: 1;
}

.menu-list {
}

.menu-item {
}

.menu-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-item-link:active {
  color: #404bbf;
}

.menu-item:not(:last-of-type) {
  margin-bottom: 40px;
}

.menu-address {
  margin-bottom: 48px;
}

.menu-address-list {
  font-style: normal;
}

.menu-address-item {
}

.menu-address-item:not(:last-of-type) {
  margin-bottom: 24px;
}

.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-address-link:active {
  color: #4d5ae5;
}

.menu-soc-list {
  display: flex;
  gap: 40px;
  max-width: 320px;
}

.menu-soc-item {
  flex-basis: calc((100% - 120px) / 4);
}

.menu-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.menu-soc-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-navigation .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }

  .header-navigation-list {
    display: flex;
    gap: 40px;
  }

  .header-navigation-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-active-page {
    position: relative;
    color: #404bbf;
  }

  .header-active-page::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .header-navigation-link:hover,
  .header-navigation-link:focus,
  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }

  .header-address {
    display: block;
    font-style: normal;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-navigation .logo {
    margin-right: 76px;
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/*--------------HEDER----------------*/
/*--------------HERO----------------*/

.hero {
  max-width: 320px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-foto/Dark-bg-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
}

@media (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-foto/Dark-bg@2x-min.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-btn {
  background: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  line-height: 1.5;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-foto/Dark-bg-min-1.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-foto/Dark-bg@2x-min-1.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-foto/people-office-min.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-foto/people-office@2x-min.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/*--------------HERO----------------*/
/*--------------BENEFITS----------------*/

.benefits {
}

.benefits-title {
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-item {
}

.benefits-icon-box {
  display: none;
}

.benefits-icon {
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 48px) / 2);
  }

  .benefits-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;

    margin-bottom: 8px;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-text {
    font-weight: 400;
  }
}

/*--------------BENEFITS----------------*/
/*--------------TEAM----------------*/

.team {
  background: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-item {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-of-type) {
  margin-bottom: 72px;
}

.team-image {
}

.team-content-box {
  padding: 32px 0;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-soc-item {
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-item {
    flex-basis: calc((100% - 48px) / 2);
  }

  .team-item:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/*--------------TEAM----------------*/
/*--------------PORTFOLIO----------------*/

.portfolio {
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image-box {
  position: relative;
  overflow: hidden;
}

.portfolio-hidden-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-box {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-text {
}

.portfolio-item:hover,
.portfolio-item:hover .portfolio-hidden-text {
  transform: translateY(0);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    box-shadow: none;
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*--------------PORTFOLIO----------------*/
/*--------------FOOTER----------------*/

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-text-box {
}

.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-soc-box {
  margin: 0 auto;
}

.footer-soc-text {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subscription {
}

.footer-subscription-text {
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-form {
}

.footer-label {
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.3;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  padding: 8px 24px 8px 24px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-container {
    gap: 72px 24px;
    width: 528px;
  }

  .footer-logo,
  .footer-subscription-text,
  .footer-soc-text {
    text-align: left;
  }

  .footer-soc-box {
    margin: 0;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    margin-bottom: 0;
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    width: 1158px;
  }

  .footer-text-box {
    margin-right: 120px;
  }

  .footer-subscription {
    margin-left: auto;
  }

  .footer-input {
    opacity: 1;
  }

  .footer-input::placeholder {
    opacity: 1;
  }
}

/*--------------FOOTER----------------*/

/* ------------------------ */

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-box {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  padding: 11px 11px 11px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:focus + .modal-input-icon {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  min-height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-input-checkbox {
  visibility: hidden;
}

.modal-label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .modal-label-checkbox .modal-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
